@charset "UTF-8";
/* common */
* {
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("../assets/banner-7.jpg");
  background-size: cover;
  background-position: left left;
  background-repeat: no-repeat;
}
body .container {
  position: relative;
}

.hd .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center; /* 세로 중앙 정렬 */
  height: 200px;
  padding-top: 5rem;
}
.hd .nav-logo .material-symbols-outlined {
  font-size: 3rem;
}
.hd::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  position: relative;
}
nav .container .nav-menu {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3rem;
}
nav .container .nav-menu .material-symbols-outlined {
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 2;
}

.main {
  text-align: center;
}
.main .bn-content {
  margin-top: 20px;
}
.main .bn-menu {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}
.main .bn-menu .bn-nemu-symbol {
  margin-right: 3.5rem;
  position: relative;
}
.main .bn-menu .bn-nemu-symbol a {
  font-size: 1rem;
  transition: all 0.2s ease-out;
  display: block;
  text-align: center;
}
.main .bn-menu .bn-nemu-symbol a:hover {
  font-weight: bolder;
}
.main .bn-menu .bn-nemu-symbol a:hover + .bn-menu-txt {
  display: block;
}
.main .bn-menu .bn-nemu-symbol .bn-menu-txt {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: -30px;
  right: 1px;
}
.main .bn-menu .bn-nemu-symbol img {
  width: 3.75rem;
  height: 3.75rem;
}
.main .bn-menu .bn-nemu-symbol:hover:after {
  content: "";
  display: block;
  border: 1px solid black;
  border-radius: 50%;
}
.main .bn-menu .bn-nemu-symbol:last-child {
  margin-right: 0;
}
.main button {
  width: 12rem;
  height: 3rem;
  margin: 2rem 0;
  border: 1px solid #F06293;
  background-color: #F06293;
  border-radius: 2px; /* 둥근 모서리 */
  font-size: 1rem;
  color: #fff;
}
.main button:hover {
  background-color: #ed3e7b;
  border: 1px solid #ed3e7b;
}
.main a {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.main::after {
  content: "";
  display: block;
  clear: both;
}

.ft .ft-container p {
  padding-left: 15px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #797979;
}
.ft .nav-cta-dnt {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 20px;
  padding-top: 8px;
  border: 1px solid #F06293;
  background-color: #F06293;
  border-radius: 50%; /* 둥근 모서리 */
  font-size: 1rem;
  color: #fff;
  transition: all 0.2s ease-out;
}
.ft .nav-cta-dnt:hover {
  background-color: #ed3e7b;
  border: 1px solid #ed3e7b;
  width: 3.6rem;
  height: 3.6rem;
  padding-top: 9px;
  font-size: 1.005rem;
  line-height: 20px;
}/*# sourceMappingURL=index.css.map */